/*

    Author: 'Avinab Giri';
    URL: 'https://avinabgiri.in';

*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,800&display=swap');

$white : white;
$black : #000;
$sClr : #162038;
$pClrL : #d72f3e;
$pClrD : #981e2d;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

body {
    font-size: 14px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

// .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

#mainContent {
    display: none;

    header .text .hide {
        display: none;
    }

    @media (min-width:996px) {
        display: block;
    }
}

.smallScreen {
    display: block;

    @media (min-width:996px) {
        display: none;

        header .text .hide {
            display: block;
        }

        #aboutSection p {
            text-align: center;
            padding: 0 15px;
        }
    }
}


.dFlex {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &.jcsb {
        justify-content: space-between;
    }

    &.jcse {
        justify-content: space-evenly;
    }

    &.jcc {
        justify-content: center;
    }

    &.aic {
        align-items: center;
    }
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
}

p {
    color: $black;
    font-weight: normal;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.rbtn {
    background: $white;
    color: $black;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    font-weight: 600;
}

.title {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    h4 {
        font-weight: 200;
        opacity: .8;
    }

    h2 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 50px;
            background: white;
            border-radius: 50px;
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &.fixed {
        background: $sClr;
    }

    .dFlex {
        height: 50px;
    }

    .logo {
        width: 150px;
    }

    .toggle {
        display: block;
        padding: 27px 19px;
        width: 25px;
        height: 3px;
        border: 0;
        box-sizing: content-box;
        background-clip: content-box;
        transition: background-color 500ms ease-in-out 250ms;
        background-color: $white;
        z-index: 5;

        &:hover {
            cursor: pointer;
        }

        &:before,
        &:after {
            content: '';
            position: relative;
            display: block;
            width: 18px;
            height: 3px;
            background-color: $white;
            transition: transform 500ms ease-in-out;
        }

        &:before {
            top: -8px;
        }

        &:after {
            bottom: -5px;
        }
    }

    .responsive_nav {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 250px;
        width: 80%;
        background: transparent;
        height: 100vh;
        z-index: 3;
        overflow: hidden;
        visibility: hidden;

        &::before {
            content: "";
            position: absolute;
            top: -50%;
            left: 50%;
            background: white;
            width: 100%;
            transform: scale(0) translate(0%, 0%);
            height: 100%;
            transition: 0.1s ease-in-out;
        }

        ul {
            position: relative;
            margin-top: 50px;
            padding: 0;

            .dropNav {
                i {
                    float: right;
                }
            }

            &.dropMenu {
                margin-top: 0px;
                padding-left: 25px;
                display: none;

                a {

                    opacity: .5;
                }
            }

            li {
                position: relative;
                display: block;

                a {
                    position: relative;
                    padding: 10px 25px;
                    display: block;
                    line-height: 1;
                    font-weight: 700;
                    letter-spacing: .05em;
                    margin-bottom: 2px;
                }

                &:hover {
                    a {
                        color: $pClrL;

                        ~ul {
                            a {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }

        .hire {
            position: absolute;
            background-color: #ffd1d1;
            color: #000;
            font-size: 13px;
            left: 48%;
            top: 9px;
            padding: 2px 5px;
            border-radius: 3px;
            font-weight: 500;
            animation: blink 1s linear infinite;
        }



        .dropActive {
            a {
                color: $pClrL;

                ~ul {
                    a {
                        color: $black;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            i {
                transform: rotate(90deg);
                color: $pClrL;
            }

            .dropMenu {
                display: block;
            }
        }
    }

    &.toggle--active {
        .toggle {
            background-color: rgba(255, 255, 255, 0);
            transition-delay: 0s;

            &:before,
            &:after {
                background: $pClrL;
            }

            &:before {
                top: -6px;
                transform: translateY(6px) rotate(-225deg);
            }

            &:after {
                bottom: -3px;
                transform: translateY(-6px) rotate(225deg);
            }
        }

        .responsive_nav {
            visibility: visible;

            &::before {
                transform: scale(1.5) translate(-40%, 40%);
            }
        }
    }

    @media (max-width:996px) {
        background: $sClr;
        box-shadow: 0 0 0 rgba(0, 0, 0, .33);
    }
}

.navBar {
    position: relative;

    nav {
        background: $sClr;
    }
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../img/header.jpg') no-repeat center center;
    background-size: cover;

    .caption {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        max-width: 700px;
        text-align: left;

        h1 {
            color: $white;
            font-weight: 500;
            margin-bottom: 15px;
            text-shadow: 0 2px 2px $sClr;

            .text {
                color: white;
                //   border-right: 2px solid red;
                font-size: 55px;
                font-family: sans-serif;
                color: $white;
            }
        }

        p {
            font-weight: 400;
            margin-bottom: 15px;
        }

        .rbtn {
            padding: 10px 30px 10px 55px;

            i {
                width: 40px;
                height: 40px;
                background: #f73535;
                border-radius: 50%;
                line-height: 40px;
                text-align: center;
                position: absolute;
                left: 3px;
                top: 50%;
                color: #FFF;
                transform: translateY(-50%);
            }
        }
    }

    ul {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        li {
            display: inline-block;
            width: 138px;
            vertical-align: top;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            i {
                // background: url('../img/products.png') no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin: auto;
                opacity: 0.4;
                background-position: -420px 0px;
            }

            span {
                color: $white;
            }
        }
    }

    #servicePopUp {
        position: absolute;
        top: 50%;
        right: 113px;
        transform: translateY(-50%);

        .swiper {
            width: 240px;
            height: 320px;
        }

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }

        .swiper-slide:nth-child(1n) {
            background-color: rgb(206, 17, 17);
        }

        .swiper-slide:nth-child(2n) {
            background-color: rgb(0, 140, 255);
        }

        .swiper-slide:nth-child(3n) {
            background-color: rgb(10, 184, 111);
        }

        .swiper-slide:nth-child(4n) {
            background-color: rgb(211, 122, 7);
        }

        .swiper-slide:nth-child(5n) {
            background-color: rgb(118, 163, 12);
        }

        .swiper-slide:nth-child(6n) {
            background-color: rgb(180, 10, 47);
        }

        .swiper-slide:nth-child(7n) {
            background-color: rgb(35, 99, 19);
        }

        .swiper-slide:nth-child(8n) {
            background-color: rgb(0, 68, 255);
        }

        .swiper-slide:nth-child(9n) {
            background-color: rgb(218, 12, 218);
        }

        .swiper-slide:nth-child(10n) {
            background-color: rgb(54, 94, 77);
        }
    }

    .textRight {
        position: absolute;
        bottom: 70px;
        right: 15px;
        z-index: 1;
        padding: 10px 25px;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% + 50px);
            height: 100%;
            background: $black;
            color: $white;
            z-index: -1;
            border-radius: 50px 0 0 50px;
            opacity: .2;
        }

        p {
            font-size: 18px;
            color: $sClr;
            font-weight: 600;
            text-align: right;
            margin-bottom: 2px;
            letter-spacing: .1em;
        }

        h3 {
            font-size: 20px;
            color: $sClr;
            font-weight: 700;
            text-align: right;

            a {
                color: $pClrL;
                font-size: 25px;
                &:hover {
                    color: $pClrD;
                }
            }
        }

        @media (max-width:996px) {
            right: 0;
            p,h3{
                color: $white;
            }
        }
    }
}

.aboutSection {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: url('../img/about.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $sClr;
        opacity: .9;
        z-index: -1;
    }

    .title {
        text-align: left;
        margin: 0;

        @media (max-width:996px) {
            text-align: center;
            margin: 0 auto;
        }
    }

    .caption {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @media (max-width:996px) {
            margin-bottom: 35px;
        }

        p {
            margin-bottom: 35px;
            color: rgba($white, .8);
            text-align: left;
            width: 85%;

            @media (max-width:996px) {
                padding: 0 15px;
                text-align: center;
                margin: 0 auto 35px auto;
            }
        }

        a {
            @media (max-width:996px) {
                margin: 0 auto;
            }
        }
    }

    .missionSec {
        position: relative;
        padding: 0;

        li {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            .imgCon {
                width: 125px;
                height: 125px;
                background: rgba($white, .8);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width:996px) {
                    width: 90px;
                height: 90px;
                }
            }

            img {
                width: 60%;
                height: auto;
            }

            .misCaption {
                width: 65%;

                h4,
                p {
                    text-align: left;
                    color: $white;
                }

                p {
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: .06em;
                    opacity: .6;
                }
            }

            &:first-child {
                .imgCon {
                    border: 2px solid #1d9dd8;
                }
            }

            &:last-child {
                .imgCon {
                    border: 2px solid #6c54a4;
                }
            }
        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }
}

.snapShotSection {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 100vh;
    background: url('../img/map.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $sClr;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: .9;
    }

    .title {
        p {
            color: rgba($white, .8);
        }
    }

    ul {
        width: 100%;

        li {
            display: inline-block;
            width: 100% / 12 * 3 - 1;
            padding: 20px 0px;
            text-align: center;
            position: relative;

            i {
                width: 54px;
                height: 54px;
                display: block;
                margin: auto;
            }

            h4 {
                position: relative;
                padding-bottom: 10px;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 10%;
                    height: 2px;
                    background: $white;
                }
            }

            p {
                color: rgba($white, .5);
            }

            @media (max-width:996px) {
                width: 100% / 12 * 6 - 1;
            }

        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }

}

.TestimonialSection {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
    background: $sClr;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #162038;
        background-image: url("../img/travelBg.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        z-index: -1;
        opacity: 0.3;
    }

    .title {
        text-align: left;

        h2 {
            &::before {
                left: 25px;
            }

            margin-bottom: 50px;
        }

        p {
            color: rgba($white, .5);
            margin-bottom: 25px;
        }

        @media (max-width:996px) {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
    }

    .testimonialBox {
        width: 100%;
        height: 80vh;
        position: relative;
        margin-top: 10vh;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;

        .testiContent {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 25px;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 2px;
                border-radius: 50px;
            }

            &::before {
                left: 50%;
                transform: translateX(-50%);
                width: 80px;
                background: $sClr;
            }

            &::after {
                left: 55%;
                transform: translateX(-50%);
                width: 10px;
                background: $white;
                transition: .2s ease-in-out;
            }

            &:hover {
                &::after {
                    left: 50%;
                    width: 12px;
                }
            }

            @media (max-width:996px) {
                padding: 0 25px 15px;
            }
        }

        .caption {
            width: 75%;

            i {
                position: absolute;
                left: 0;
                top: 0;
                opacity: .2;
                transform: translateY(-50%);
            }

            p {
                font-size: 12px;
                letter-spacing: .1em;
                font-weight: 700;
                text-align: left;
                opacity: .6;
                background: $white;
            }

            h4 {
                color: $sClr;
                font-size: 14px;
                font-weight: 700;
                text-align: left;
            }
        }

        .imgCon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $sClr;
        }

        @media (max-width:996px) {
            height: 250px;
        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }
}

.clientSection {
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100%;
    background: url('../img/clintBg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    .caption {
        display: inline-flex;
        align-items: center;
        flex-direction: column;

        h2 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 20px;
            color: rgba($white, .8);
            text-align: center;
        }

        @media (max-width:996px) {
            width: 100%;
        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }
}

.supportSection {
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: #55C568;
    z-index: 1;

    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #00C39F 0%, #0E9650 100%);
        opacity: .9;
        position: absolute;
        z-index: -1;
    }

    .title {
        margin-bottom: 50px;
    }

    li {
        width: 24.5%;
        max-width: 350px;
        display: inline-block;
        padding: 1rem;
        vertical-align: top;
        font-size: 1.2rem;
        line-height: 1.2;

        img {
            max-width: 80%;
            display: block;
            margin: 1.5vh auto 7px;
        }

        p {
            font-size: 14px;
            color: $white;
            font-weight: 600;
            letter-spacing: .08em;
        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }
}

.featureSection {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #2076AF 0%, #25864C 100%);
        z-index: -1;
    }

    .title {
        margin-bottom: 20px;
    }

    .content {
        i {
            display: block;
            margin: auto;
            height: 110px;
            width: 100px;
            background: url("../images/ezee-products-color-sprite.png") no-repeat;
            position: relative;
            bottom: -30px;
            transform: scale(0.8);
        }

        h4 {
            font-size: 14px;
            font-weight: 600;
        }

        p {
            font-size: 12px;
        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }
}

.teamSection {
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: url('../img/team.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $sClr;
        opacity: .9;
        z-index: -1;
    }

    .content {
        .title {
            margin-bottom: 25px;
        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }
}

.swiper-slide {
    footer {
        min-height: 100vh;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    background: $sClr;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

    h4 {
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: left;
    }

    ul {
        padding-left: .5rem;
    }

    .hire {
        position: absolute;
        background-color: #ffd1d1;
        color: #000;
        font-size: 13px;
        left: 125%;
        top: 4px;
        padding: 2px 5px;
        border-radius: 3px;
        font-weight: 500;
        animation: blink 1s linear infinite;
        width: 85px;
    }

    li {
        padding-bottom: 10px;
        display: block;
        text-align: left;

        a {
            display: inline-block;
            vertical-align: top;
            padding: 2px 0;
            color: #B3B9C7;
            font-weight: 600;
            position: relative;
            transition: .2s ease-in-out;

            &:hover {
                color: $pClrL;
            }
        }

        a:not(.hover) {
            padding-left: 0;

            &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                background: $pClrL;
                left: 0;
                top: 60%;
                transform: translate(2px, -50%);
                border-radius: 50%;
                transition: .2s ease-in-out;
                opacity: 0;
            }

            &:hover {
                color: $pClrL;
                padding-left: 8px;

                &::before {
                    opacity: 1;
                    transform: translate(0px, -50%);
                }
            }
        }
    }

    .inline {
        li {
            display: inline-block;
            width: 80px;
            height: 80px;
            overflow: hidden;
            border: 1px solid #B3B9C7;
            border-radius: 3px;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;

                margin-right: 1px;
                transform: scale(1.1);
                transition: .2s ease-in-out;
            }

            &:hover {
                img {
                    transform: scale(1.15);
                }
            }
        }
    }

    .footerIcon {
        margin-bottom: 0;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            display: inline-block;

            a {
                position: relative;
                width: 50px;
                height: 50px;
                border: 1px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 15px;

                i {
                    font-size: 15px;
                }

            }

            &:last-child {
                a {
                    margin-right: 0;
                }
            }

            &:nth-child(1) {
                a:hover {
                    background: #4267B2;
                    border: 1px solid #4267B2;
                    color: $white;
                    transform: translateY(-5px);
                }
            }

            &:nth-child(2) {
                a:hover {
                    background: #e95950;
                    border: 1px solid #e95950;
                    color: $white;
                    transform: translateY(-5px);
                }
            }

            &:nth-child(3) {
                a:hover {
                    background: #1DA1F2;
                    border: 1px solid #1DA1F2;
                    color: $white;
                    transform: translateY(-5px);
                }
            }

            &:nth-child(4) {
                a:hover {
                    background: #0077b5;
                    border: 1px solid #0077b5;
                    color: $white;
                    transform: translateY(-5px);
                }
            }
        }
    }

    .copy {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        border-top: 1px solid #1f2940;
        padding: 15px 0 5px 0;

        p {
            margin: 0;
            font-size: 14px;
            letter-spacing: .1em;
            color: #B3B9C7;
            text-align: center;
        }
    }

    span{
        color: $white;
    }
}

#blogSection {
    position: relative;
    margin-top: 50px;
    padding: 50px 0 100px 0;

    .textCon {
        background: $white;
        box-shadow: 0 0 12px rgba($black, .5);
        border-radius: 5px;
        margin-bottom: 35px;

        h4 {
            color: $sClr;
            text-align: center;
            font-size: 18px;
            padding: 15px 30px;
            margin: 0;
            font-weight: 500;
        }
    }

    .blogContent {
        position: relative;
        padding: 35px 20px;
        border: 1px solid #e8e8e8;
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        h4 {
            color: $sClr;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 20px;
            letter-spacing: 1px;
            font-weight: 500;
            line-height: 25px;
            color: #898989;
        }

        .rbtn {
            background: $sClr;
            color: $white;
        }

        &:hover {
            border: 1px solid #ccc;
            box-shadow: 0 7px 20px -2px rgba(0, 0, 0, .2);
        }
    }
}

#headerPage {
    position: relative;
    background: $sClr;
    padding: 60px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clientsSection {
    position: relative;
    padding: 50px 0 100px 0;

    .clienContent {
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .33);
        margin: 20px 12px 12px;
        border-radius: 3px;
        overflow: hidden;

        .caption {
            h4 {
                color: $sClr;
                font-size: 14px;
                padding: 10px 0 5px 10px;
                margin: 0;
            }

            p {
                padding: 0 10px;
                color: $sClr;
                padding-bottom: 0px;
                opacity: .5;
            }
        }
    }
}

#testiSection {
    padding: 50px 0 100px 0;

    .testiContent {
        position: relative;
        border-bottom: 1px solid rgba($sClr, .2);
        margin-bottom: 30px;
        padding: 0 0 5px 0;

        h2 {
            color: $sClr;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        i {
            margin-right: 5px;
            opacity: .5;
        }

        p {
            font-size: 14px;
            color: $sClr;
            font-weight: 500;
            opacity: .8;
            margin-bottom: 20px;

            &.foot {
                display: flex;
                align-items: end;
                opacity: 1;
                font-style: italic;
                font-weight: 500;
            }
        }

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 15px;
        }
    }
}

#contactSection {
    position: relative;
    padding: 50px 0;
    background: $sClr;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/contactBg.jpg') no-repeat center center;
        background-size: cover;
        opacity: .2;
        z-index: -1;
        background-attachment: fixed;
    }

    h2 {
        color: $white;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    p {
        width: 50%;
        float: left;
        padding-right: 20px;

        label {
            width: 100%;
            margin-bottom: 5px;
            padding-bottom: 0;
            color: $white;
            font-weight: 600;
        }

        span {
            opacity: .9;
            color: $white;
        }
    }

    .contactForm {
        position: relative;
        background: white;
        padding: 0 20px 15px;
        border-radius: 5px;

        .form-group {
            position: relative;
            margin-bottom: 25px;
        }

        label {
            padding: 0 4px 4px;
            margin: 0;
            font-weight: 600;
            font-size: 13px;
            line-height: initial;
            display: inline-block;
            vertical-align: middle;
            color: #33475b;
            position: absolute;
            top: -10px;
            left: 6px;
            background: #FFF;
            transition: all 0.3s ease;
        }

        input,
        select {
            padding: 15px 15px 9px;
            border-radius: 4px;
            border: 1px solid #cbd4de;
            font-size: 14px;
            line-height: 1.2em;
            transition: all 0.3s ease;
            background-color: #ffffff;
            color: #33475b;
            display: block;
            text-align: left;
            vertical-align: middle;
            width: 100%;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        button {
            background: $sClr;
            color: $white;
        }
    }
}

#beSection {
    position: relative;
    padding: 100px 0;

    .beContent {
        h2 {
            color: $sClr;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            color: rgb(94, 110, 135);
            margin: 0px;
            padding: 16px 0px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            opacity: .8;
            margin-bottom: 15px;
            width: 85%;
        }

        button {
            margin-bottom: 25px;
            border-radius: 3px;
            background: $sClr;
            color: $white;
        }

        h6 {
            color: $sClr;
            margin-bottom: 15px;
            opacity: .5;
        }

        li {
            display: inline-block;
            width: 50%;
            float: left;
            padding: 15px 0 15px 10px;
            color: $pClrL;
            letter-spacing: 0.1em;
            transition: 0.2s ease-in-out;
            font-weight: 700;
            position: relative;
            line-height: 1.05;

            &::before {
                content: "";
                position: absolute;
                bottom: 16px;
                left: 0;
                width: 10px;
                height: 2px;
                background: $pClrL;
                transform: translateX(-10px);
            }

            &:hover {
                color: $pClrL;
            }
        }
    }
}

#careerSection {
    padding: 100px 0;

    .imgBox {
        min-height: 460px;

        @media (max-width:1280px) {
            min-height: 300px;
        }

        @media (max-width:996px) {
            min-height: 300px;
        }

        @media (max-width:768px) {
            min-height: 300px;
        }

    }


    .col-md-6 {
        position: relative;
    }

    li {
        display: inline-block;
        margin-bottom: 15px;
        border-bottom: 1px solid #00000024;
        padding: 10px 0;

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }

        h4 {
            margin-bottom: 15px;
            font-size: 18px;
            color: $sClr;
            font-weight: 700;
        }

        p {
            font-weight: 700;
            font-size: 12px;
            letter-spacing: .1em;
            opacity: .8;
            line-height: 28px;
        }

        a {
            color: #0E9650;
            font-weight: 700;
            letter-spacing: .1em;
        }
    }

    .imgContent {
        max-width: 610px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -20px;
        margin-left: -20px;
        transform: translateY(-30px);

        .item {
            position: relative;
            width: 120px;
            height: 120px;
            display: inline-block;
            -webkit-box-flex: 0;
            flex-grow: 0;
            flex-shrink: 0;
            margin: 12px;
            align-self: flex-end;
            border-radius: 4px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media (min-width:1280px) {
                &:nth-child(2) {
                    width: 240px;
                    height: 240px;
                }

                &:nth-child(3) {
                    width: 160px;
                    height: 160px;
                }

                &:nth-child(4) {
                    align-self: flex-start;
                }

                &:nth-child(5) {
                    width: 185px;
                    height: 185px;
                    align-self: flex-start;
                }

                &:nth-child(6) {
                    width: 160px;
                    height: 160px;
                    align-self: flex-start;
                }
            }
        }
    }
}

.productSection {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 100vh;
    background: $sClr;
    display: flex;
    align-items: center;

    .imgCont {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        height: 3rem;
        width: 3rem;
        border-radius: 9999px;
        background-color: #2b84ea;

        img {
            width: 100%;
        }
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
        transition: all .2s ease;
        stroke: #525a76;
        stroke-opacity: 0.8;
        fill: lighten($sClr, 1%);
        z-index: 1;
        height: 230px;
        width: 100%;
    }

    .productContent {
        transition: all 0.15s ease-out;
        cursor: pointer;
        text-decoration: none;
        outline: 2px solid transparent;
        outline-offset: 2px;
        color: #0b72e7;
        position: relative;
        height: 225px;
        width: 100%;
        display: inline-block;
        margin-bottom: 25px;

        .caption {
            position: relative;
            padding-left: 1.25rem;
            padding-right: 3rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 230px;
            justify-content: center;

            h4 {
                font-weight: 800;
                font-size: 1.375rem;
                color: #ffffff;
                letter-spacing: 1;
                line-height: 1.33;
                text-align: left;
            }

            p {
                text-align: left;
                color: rgba($white, .8);
                font-weight: 400;
                text-shadow: 0 0 1px #000000;
                font-size: 15px;
                letter-spacing: .05em;

                &.blur {
                    filter: blur(2px);
                    font-size: 32px;
                }
            }

            button {
                z-index: 2;
                position: relative;
                background: transparent;
                border: none;
                color: $pClrL;
                font-weight: 600;
            }
        }

        &:hover {
            .imgCont {
                background: linear-gradient(188.57deg, #2095ff -16.05%, #6416ff 116.32%);
            }

            svg {
                filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.4));
                transition: all .2s ease;
                stroke-opacity: 0;
            }
        }
    }

    @media (max-width:996px) {
        padding: 50px 0;
    }
}

#productsSection {
    position: relative;
    padding: 50px 0 100px 0;
    background: $sClr;

    .productContent {
        background: lighten($sClr, 5%);
        border: 1px solid #525a76;
        border-radius: 5px;
        overflow: hidden;
        transition: .2s ease-in-out;

        .caption {
            padding: 15px 15px;

            h4 {
                font-weight: 700;
            }

            p {
                color: rgba($white, .5);
            }

            a {
                color: $pClrL;
                font-weight: 700;
            }
        }

        &:hover {
            border: 1px solid $sClr;
            box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.4);
        }
    }

}


@media (max-width:996px) {
    header .text .hide {
        display: block;
    }
}


.whatsAppContent {
    position: fixed;
    display: flex;
    right: 30px;
    font-size: 25px;
    text-align: center;
    z-index: 10;
    box-sizing: content-box !important;
    line-height: initial;
    overflow-x: initial;
    cursor: pointer;
    border-radius: 8px 34px 34px 34px;
    padding: 17px;
    width: 24px;
    height: 24px;
    background: #25D366;
    bottom: 30px;
    left: 30px;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    

    &::after{
        content: "";
        animation: sonarEffect 1.3s ease-out 75ms infinite;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #25D366;
        border-radius: 20px 34px 34px 34px;       
    }

    i {
        color: $white;
    }

    &:hover {
        background: #19ad50;
    }
}

#policySection {
    position: relative;
    padding: 100px 0;

    h2 {
        color: $sClr;
    }
}







@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sonarEffect{
    0% {
		opacity: .3
	}

	40% {
		opacity: .5;
		box-shadow: 0 0 0 2px rgb(12 211 86 / 60%), 0 0 10px 10px #408f5dbd, 0 0 0 10px rgb(227 227 227 / 25%);
	}

	100% {
		box-shadow: 0 0 0 2px rgb(85 217 134 / 56%), 0 0 10px 10px #8bebaef2, 0 0 0 10px rgb(255 255 255 / 17%);
		transform: scale(1.5);
		opacity: 0
	}
}







.auth-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: lighten($sClr, 5%);
    padding: 50px 0;
    border-radius: 8px;
    background-image: url(../img/signupBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-row {
    width: 100%;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.auth-column-40 {
    width: 40%;
}

.auth-column-60 {
    width: 60%;
}

.auth-column-40,
.auth-column-60 {
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-column-50 img {
    height: 300px;
    width: 300px;
}

.auth-form {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    p{
        color: $white;
        opacity: .6;
    }
}

.form-heading {
    font-size: 25px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 10px;
}

.auth-form form {
    padding: 10px;
    width: calc(100% - 10 * 10px);
}

.input-control {
    height: max-content;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    .input-icon {
        position: absolute;
        fill: white;
        top: 40%;
        left: 0;
        transform: translateY(-50%);
    }
    .user-input {
        position: relative;
        border: 0;
        height: 40px;
        width: calc(100% - 30px);
        padding: 5px;
        padding-left: 30px;
        outline: none !important;
        background-color: inherit;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        color: whitesmoke;
        font-size: 16px;
        margin-bottom: 11px;
        &::-webkit-input-placeholder{
            opacity: .5;
        }
    }
}


.nav-btns {
    width: 100%;
    padding: 2px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-btn {
    text-align: center;
    width: 78px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.nav-link a {
    color: whitesmoke;
    text-decoration: none;
}

.nav-link a:hover {
    text-decoration: underline;
}

.input-control .action-btn {
    padding: 10px 20px;
    width: auto;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    border: 0px;
    cursor: pointer;
    color: whitesmoke;
    background-color: #162038;
    transition: .2s ease-in-out;
    border: 1px solid #162038;
}

.input-control .action-btn:hover {
    background-color: #2a3a5e;
}

#form-section-2,
#form-section-3 {
    display: none;
}

.error-msg {
    color: rgb(247, 111, 111);
    font-weight: bold;
    display: none;
}

::placeholder {
    color: whitesmoke;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #162038;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #162038;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}




@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #162038;
    }
}

.center-text{
    width: 100%;
    text-align: center;
}

.auth-column-40 img{
    height: 350px;
    width: 350px;
}

@media only screen and (max-width: 280px) {
    main{
        margin-top: 130px;
        margin-bottom: 50px;
    }
    .auth-container,
    .auth-row{
        flex-direction: column;
    }
    .auth-column-40{
        order: 1;
    }
    .auth-column-40,
    .auth-column-50,
    .auth-column-60{
        width: 100%;
        height: auto;
    }
    .auth-column-60{
        border: 0;
        padding: 0;
    }
    .auth-form form{
        width: 100%;
    }
    .nav-btns{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 375px) {
    main{
        margin-top: 130px;
        margin-bottom: 50px;
    }
    .auth-container,
    .auth-row{
        flex-direction: column;
    }
    .auth-column-40{
        order: 1;
    }
    .auth-column-40,
    .auth-column-50,
    .auth-column-60{
        width: 100%;
        height: auto;
    }
    .auth-column-60{
        border: 0;
        padding: 0;
    }
    .auth-form form{
        width: 100%;
    }
    .nav-btns{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 414px) {
    main{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .auth-container,
    .auth-row{
        flex-direction: column;
    }
    .auth-column-40{
        order: 1;
    }
    .auth-column-40,
    .auth-column-50,
    .auth-column-60{
        width: 100%;
        height: auto;
    }
    .auth-column-60{
        border: 0;
        padding: 0;
    }
    .auth-form form{
        width: 100%;
    }
    .nav-btns{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 820px) {
    main{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .auth-container,
    .auth-row{
        flex-direction: column;
    }
    .auth-column-40{
        order: 1;
    }
    .auth-column-40,
    .auth-column-50,
    .auth-column-60{
        width: 100%;
        height: auto;
    }
    .auth-column-60{
        border: 0;
        padding: 0;
    }
    .auth-form form{
        width: 100%;
    }
    .nav-btns{
        display: flex;
        flex-wrap: wrap;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#loginSection{
    position: relative;
    padding: 100px 0;
    background-color: $sClr;
}